@model BasicFuncWebApp.Models.StudentModel

@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.sid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.sid }, new { @class = "btn btn-warning" })
    <br />
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
</p>
